/* Set font to Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* * { 
   box-sizing: border-box;
} */

/* css custom properties */
:root {
    --main-bg-color:#D5E1EF;
    --card-bg-color:#FFF;
    --card-and-image-width:256px;
    --font-family: 'Outfit', sans-serif ;
    --h1-font-size: 1.27rem;
    --p-font-size: 0.9375rem;
    --p-color: hsl(220, 15%, 55%);

}

/* Set the font family, sizes and text alignment */
h1, p {
    font-family: var(--font-family);
    text-align: center;
}

h1 {
    font-size: var(--h1-font-size);
}

p {
    font-size: var(--p-font-size);
    color: var(--p-color);
}

body {
    background-color: var(--main-bg-color);
}

/* Tried and failed code to center the entire card vertically */

/* main {
 height: 500px;
 position: relative;
 margin: auto;
 border: 1px solid red;
} */

/* .outside_container{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg-color);
    width: var(--card-and-image-width);
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
}

.QR {
border-radius: 8px;
width: var(--card-and-image-width);
height: auto;
}
