/* Set font to Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* * { 
   box-sizing: border-box;
} */

/* css custom properties */
:root {
    --main-bg-color:#D5E1EF;
}
* {
    border: 1px solid red ;
}

body {
    /* position: absolute;
    margin:0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(50%); */
}

/* Set the font family, sizes and text alignment */
h1, p {
    font-family: 'Outfit', sans-serif ;
    text-align: center;
}

h1 {
    font-size: 1.27rem ;
}

p {
    font-size: 0.9375rem;
}

body {
    /* background-color:#D5E1EF; */
    background-color: var(--main-bg-color);
    margin-top: 30%;
}

main {
    
    
}

.container {
    /* position: absolute;
    margin:0;
    top: 50%;
    transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 265px;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
}

.vertical_box {
flex: 1 1 auto;
}

.vertical_box_padding {
    min-height:5rem;
}

.QR {
border-radius: 8px;
width: 265px;
height: auto;
}

.description {
color: hsl(220, 15%, 55%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
